body {
  font-family: 'Open Sans', sans-serif;
  margin: 0px 0px;
}

header {
  background-color: #404041;
  text-align: center;
  height: 100px;
  /*padding-top: 25px;*/
}

.num-guess {
  padding: 20px;
}

/*header title*/
.number {
  color: #ed458b;
  margin-right: 5px;
  font-family: 'Open Sans ', sans-serif;
  font-weight: bold;
  font-size: 40px;
}

.guesser {
  color: #e6e7e8;
  margin-left: 5px;
  font-weight: 300;
  font-size: 40px;
}

/*button hover styling*/
.guess-button:hover,
.clear-button:hover,
.reset-button:hover {
  color: #ffffff;
  background-color: #eb008b;
}

/*disabled state styling*/

input:disabled,
input:disabled:hover{
  background-color: #d0d2d3;
  color: #ffffff;
}

/*top section containing input field, guess button and clear button */
.top-section {
  text-align: center;
}
.range {
  text-align: center;
  margin: 10px;
  font-weight: 400;
}

.change-min-max{
  text-align: center;
  margin: 10px;
}

.input-min,
.input-max {
  height: 25px
}

.input-min {
  width: 145px;
}

.input-max {
  width:145px;
}

.range {
  text-align: center;
  margin: 10px;
  font-weight: 400;
}

.change-min-max{
  text-align: center;
  margin: 10px;
}

.input-min,
.input-max {
  height: 25px
}

.input-min {
  width: 145px;
  margin-bottom: 10px;
}

.input-max {
  width:145px;
}

.guess-input {
  width: 300px;
  margin-top: 10px;
  margin-bottom: 20px;
  height: 25px;
}

.players {
  margin-bottom: 25px;
}

.player1,
.player2 {
  width: 150px;
  height:25px
}

.guess-button,
.clear-button,
.users-choice {
  width: 150px;
  height: 30px;
  background-color: #929497;
  color: #ffffff;
  border-radius: 50px;
  border: none;
  text-align: center;
  font-size: 20px;
  font-weight: 300;
}

#choice-button {
  width: 300px;
  height: 25px;
  display: block;
  border: none;
  text-align: center;
  margin: 5px auto 25px;
  font-size: 15px;
  font-weight: 300;
}

/*middle section containing the users last choice, a description of
user's last choice, reset button and the output of their choice*/
.mid-section {
  text-align: center;
  color: #404041;
  font-weight: 300;
  font-size: 20px;
}

.your-last-guess {
  margin: 40px auto 0;
}

.last-guess {
  font-size: 120px;
  margin: 0 auto;
  color: #eb008b;
}

.function-output {
  margin: 0 auto 40px;
}

/*starting the game over styling*/
.startOver {
  text-align: center;
}

.reset-button {
  width: 305px;
  height: 25px;
  background-color: #929497;
  color: #ffffff;
  border-radius: 50px;
  border: none;
  text-align: center;
  font-size: 15px;
  font-weight: 300;
  display: block;
  margin: 0 auto;
}

input.guess-input:focus,
input.input-min:focus,
input.input-max:focus {
  color: black;
  border-color: #ed458b;

}
